html {
  scroll-behavior: smooth;
}

body{
    margin: 0px;
    }
/* HEADER */
header{
    background-color:  #3c91b6;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
}

header>h2{
    color: white;
    text-transform: uppercase;
    padding-left:50px;
}
header > nav {
    float: right;
  }
  nav{
    padding-right: 150px;
}
h2,nav,ul,
nav > ul > li {
  display: inline-block;
}
a{
    color: aliceblue;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 15px;
}
a:hover {
    color: white;
    background-color:#65a6c0;
  }
  i{
    color: #7cbdda;
    padding-left: 5px;
    font-size:20px;
  }

  .dropdown{
    position: relative;
  }
  .dropdowncont{
    position: absolute;
    display: none; /*pour ne pas afficher l'absolute*/
    background-color: #edf0f1;
    box-shadow: grey;
    list-style: none;
    min-width: 100px;
    padding-left: 0px;
    z-index: 1;
    left: 5px;
    width: 100%;
    z-index: 1000;
  }

  .dropdowncont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdowncont a:hover {background-color: #edf0f1}
  
  .dropdown:hover .dropdowncont {
    display: block;
  }

/*---------------------------------------------------------- 
                           Main section1
------------------------------------------------------------*/

.d-inline-block {
  display: inline-block;
  vertical-align: top;
}

#section1 {
  display: block;
  margin: auto;
  padding: 70px;

  background: linear-gradient(
      rgba(226, 221, 221, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/about-bg.jpg");
  background-size: cover;
}
#article1 {
  width: 40%;
  padding-top: 20px;
}

#article1 h2 {
  font-size: 2.5em;
}

#article1 a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #64a7c5;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

#article2 {
  width: 50%;
  margin-left: 30px;
}

#article2 div {
  width: 45%;
  margin: 10px;
}

#article2 div i,
#service i {
  font-size: xx-large;
  color: #64a7c5;
}

/*---------------------------------------------------------- 
                           Service
------------------------------------------------------------*/
#sec1 {
  background-image: url("../img/hero-bg.jpg");
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
}
#sec1 h2 {
  margin: 0;
  font-size: 4.5em;
  text-shadow: -0.5px 0.5px 2px rgb(0, 2, 92);
}

#sec1 p {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "open sans";
  font-weight: 900;
  text-shadow: 0px 0.5px 2px rgb(0, 2, 92);
  margin-top: 0;
  margin-bottom: 50px;
}
#sec1 div {
  box-sizing: border-box;
  padding: 10% 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 164, 246, 0.3);
}
#sec1 i{
  font-size: xx-large;
}
#sec1 a {
  border: 4px solid white;
  -webkit-text-fill-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  margin: auto;
   background-color: transparent;
   padding: 20px 0px;
   box-sizing: border-box;
   text-align: center;
}

#sec1 a:hover{
  transition: all 0.4s ease-in; 
  padding: 24px 0px;
  background-color: rgba(255, 255, 255, 0.233);
}

#secc>h3{
  background-image: url(../img/section-title-bg.png) ;
  background-repeat: no-repeat;
  text-decoration: solid;
  background-position: center;
  font-size: 2.8em;
  text-align: center;
}
#secc>p{
  text-align: center;
  font-size: 1.4em;
}

#divtotal{
  display: flex;
  justify-content: space-evenly;
}

#secc article{
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  padding: 30px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
#secc article::before{
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  bottom: 0;
  top: 100%;
  right: 0;
  left: 100%;
transition: all 0.3s ease-in-out;
}
#secc article:hover::before{
  top: 0;
  left:0;
  background-color: #67b0d1;
  color: white;
}
#secc article:hover , #secc article:hover i{
color: white;
}

#divtotal>article{
  width: 20vw;
  box-shadow: 0 0 25px 0 rgba(204, 216, 221, 0.6);
 padding: 30px;
}
#divtotal>article>i{
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}
article p{
  font-size: 1.3em;
}
article h4{
  font-size: 1.6em;
}

#num{
  background-color: #f4f9fc;
  margin: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
.one{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  
}
.one>article{
  width: 20vw;
 padding: 60px;
}

.one>article>span, .one>article>i{
  color: #324c5b;
  font-size: 4em;
  font-weight: 800;
  padding: 10px;
}

.one>article>i{
  color: #aad8e4;
}
.one>article>p{
  text-align:right;
  font-size: 1.5em;
}

/*---------------------------------------------------------- 
                           Call to action
------------------------------------------------------------*/
/*.callto{
  background-image: url("/img/cta-bg.jpg");
  color: rgb(255, 255, 255);
  text-align: center;
  
  margin: auto;
}*/

.callto {
  width: 100%;
  padding: 50px 0;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-family: "sans open";
  background: linear-gradient(
      rgba(22, 129, 206, 0.658), rgba(50, 144, 212, 0.24)),
    url(../img/cta-bg.jpg);
}


.callto>h3{
font-size: 2em;
margin: 0;
padding: 0;
}
.callto>p{
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.callto>a{
  border-radius: 30px;
  border: solid 1px white;
}






/*---------------------------------------------------------- 
                           Portfolio
------------------------------------------------------------*/

#portfo{
  text-align: center;
  margin-bottom: 30px;
  padding-top: 50px;
}
#portfo>h3{
  background-image: url(../img/section-title-bg.png) ;
  background-repeat: no-repeat;
  text-decoration: solid;
  background-position: center;
  font-size: 2.8em;
  text-align: center;
  margin: 0;
}
#portfo>p{
  text-align: center;
  font-size: 1.5em;
  padding: 0px 70px;
  box-sizing: border-box;
}

.lienport{
  display: inline-block;
  border-radius: 30px;
  border: solid 1px white;
  background-color: #7cbcda6c;
  width: 20%;
  padding: 8px 30px;
  border-radius: 40px;
}

.lienport>a:hover{
  border-radius: 30px;
  border: solid 1px white;
  background-color: #7cbcda9f;
}
.lienport>a{
color: black;
padding: 0 10px;
}

#portfolio{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  margin: 60px;
  
}
#portfolio>img{
  width: 500px;
}



/*---------------------------------------------------------- 
                           Testimonials
------------------------------------------------------------*/
/*.testi {
  background-color: #ecf5f98a;
  padding: 40px 80px;
}
.testi>h3{
  background-image: url(../img/section-title-bg.png) ;
  background-repeat: no-repeat;
  text-decoration: solid;
  background-position: center;
  font-size: 2.8em;
  text-align: center;
  margin: 0;
}
.testi>p{
  text-align: center;
  font-size: 1.4em;
}
.testi > div {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}

.face>h4::after{
  content: " ";
  border: solid black;
  display: block;
  margin: auto;
}
.testi div .face img {
  width: 110px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.face>#first{
background-color: red;
text-transform: capitalize;
font-size: 1.3em;
width: 40px;
}






/*---------------------------------------------------------- 
                           test animation
------------------------------------------------------------*/
#tea>h3{
  background-image: url(../img/section-title-bg.png) ;
  background-repeat: no-repeat;
  text-decoration: solid;
  background-position: center;
  font-size: 2.8em;
  text-align: center;
  margin: 0;
}
#tea>p{
  text-align: center;
  font-size: 1.5em;
  padding: 0px 70px;
  box-sizing: border-box;
}

#teams{
  display: flex;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin: 20px auto;
  padding-bottom: 100px;
}
.team{
  position: relative;
}
#teams img{
  width: 400px;
}

.team1>.description>h2{
  display: block;
  text-align: center;
   }
   .team2>.description>h2{
    display: block;
    text-align: center;
     }
     .team3>.description>h2,em{
      display: block;
      text-align: center;
       }
  
      
      #team1 {
        animation: move-to-top 0.5s ease-in;
      }
      
      #team2 {
        animation: move-to-top 1s ease-in;
      }
      
      #team3 {
        animation: move-to-top 1.5s ease-in;
      }
      
      #teams img {
        width: 450px;
      }
      
      .description {
        position: absolute;
        width: 80%;
        margin: auto;
        background-color: white;
        box-shadow: 0 0 5px lightgray;
        transform: translateX(12%);
        top: 80%;
        padding: 15px;
        text-align: center;
        box-sizing: border-box;
        transition: max-height 0.3s;
        max-height: 95px;
        overflow: hidden;
      }
      h2 {
        font-size: 1.1em;
        margin: 10px;
      }
      .description h2::after {
        content: "";
        display: block;
        border-bottom: 0.5px solid #3d91b7;
        width: 50%;
        margin: 10px auto;
      }
      
      .social {
        font-size: 1.2em;
        margin-top: 10px;
      }
      
      .team:hover .description {
        max-height: 150px;
      }
      


/*---------------------------------------------------------- 
                           Contact
------------------------------------------------------------*/

#con>h3{
  background-image: url(../img/section-title-bg.png) ;
  background-repeat: no-repeat;
  text-decoration: solid;
  background-position: center;
  font-size: 2.8em;
  text-align: center;
  margin: 0;
}
#con>p{
  text-align: center;
  font-size: 1.5em;
  padding: 0px 70px;
  box-sizing: border-box;
}




#contact {
  padding: 50px 70px;
  background-color: #f4f9fc;
}

#con1 {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

#con1 div {
  background-color: white;
  box-shadow: 0 0 8px gray;
  text-align: center;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#con1>#address {
width: 800px;
}

#con1 i {
  font-size: 2.5em;
  color: #3d91b7;
  margin-bottom: 20px;
}
#con1 address {
  font-size: 1.3em;
  font-weight: 700;
  color: gray;
}




/*---------------------------------------------------------- 
                           Map
------------------------------------------------------------*/

.map{
  display: flex;
  margin: 70px;
  margin-top: 40px;
  
}
.map1{
  width: 60%;
}

#formulaire{
  padding: 10px 20px; 
  background-color: white;
  box-shadow: 0 0 8px gray;
}

.form-control {
  padding: 10px;
  border: none;
  width: 100%;
  margin: 12px 0;
  font-size: 1.2em;
  outline: 2px solid rgba(128, 128, 128, 0.267);
  box-sizing: border-box;
}
form > div {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.form-control:focus {
  outline-color: rgba(128, 128, 128, 0.267);
}

form button {
  background-color:#65a6c0;
  color: white;
  border: none;
  display: block;
  margin: auto;
  padding: 17px;
  font-size: 1.2em;
}


/*---------------------------------------------------------- 
                           FIXED
------------------------------------------------------------*/
.fixed{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color:#3c91b6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 1px 1px 5px gray;
  color: white;
}

.fixed>i{
  color: white;
}

/*---------------------------------------------------------- 
                           FOOTER
------------------------------------------------------------*/


footer {
  height: 60vh;
  background-color: #263f49;
  padding: 40px 100px 20px 100px;
  position: relative;
  margin-top: 100px;
}


#right{
  display: flex;
  margin-left: 300px;
}

footer ul a{
  padding: 0px;
  font-size: 1.2em;
}
#right h3 {
  color: white;
  font-size: 1.4em;
  margin-left: 20px;
  margin-top: 50px;

}


footer .ourn p{
  color: white;
  margin-left: 20px;
}
footer .services {
  margin-left: 30px;
}
footer .ourn {
  margin-left: 20px;
}
footer .links li,
.services li {
  text-decoration: none;
  list-style: none;
  margin-top: 25px;
}

.services>ul , .links>ul{
  margin-top: -30px;
}

.links,.services{
width: 250px;
}
.sub{
display: flex;
margin-left: 15px;
}
.email{
  background-color: white;
  width: 250px;
  height: 35px;
  border: transparent;
}
.subs{
  height: 37px;
  width: 100px;
  background-color: #67b0d1;
  border: transparent;
  color: white;
}
footer .adresse {
  position: absolute;
  height: 40vh;
  width: 30vw;
  background-color: white;
  border-top: 4px solid #3d91b7;
  padding: 10px;
  top: -50px;
  left: 100px;
}


#right::after {
  content: "";
 display: block;
 position: absolute;
  border-bottom: 0.5px solid #3d90b769;
  width: 85%;
  right: 140px;
  bottom: 150px;
}

.copy{
  color: white;
  position: absolute;
  bottom: 60px;
}
.p2{
  text-align: center;
}

  
  .adresse>.paa {
    margin: 0;
    text-align: center;
    padding: 10px;
  }
  .adresse>.paaa {
    margin: 0;
    text-align: center;
  }
  .adresse .icone{
    padding-left: 150px;
    }
.adresse>h4{
  text-align: center;
  font-size: 1.5em;
  color: #2f4d5b;
}
.adresse>p{
  text-align: center;
}
.icone>i{
  border-radius: 50%;
  background-color: #2f4d5b;
  color: white;
  text-align: center;
  padding: 13px;
  }
  .icone{
    margin-top: 20px;
  }
  .icone>i{
   font-size: 1.2em;
  }
 



  /*
  MOBILE DEVICE
  */

  @media only screen and (max-width: 500px) {

    body{
      margin: 0px;
      width: 100%;
      }

    header{
      background-image: url("../img/apple-touch-icon.png");
      position: sticky;
      z-index: 1000;
      padding:20px;
      width: 100%;
      position: relative;
  }
  
  header>h2{
      color: pink;
      text-transform: uppercase;
      padding-left:50px;
  }
.nav{
  width: 100%;
}
nav > ul {
  display: block;
  position: absolute;
  top: 40px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  padding: 15px 0;
  background-color: rgb(227, 213, 241);
  overflow-y: auto;
  transition: 0.3s;
}

  }